.beer-slide-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 100vw;
    position: relative;
    gap: 1rem;

    &--id{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../assets/tampa.png');
        background-size: cover;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: calc(50% - 300px);
        color: #fff;
        font-size: 22px;
    }

    &--texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 400px;
        height: 300px;
        color: #fff;
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }

        &__info{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            border: 3px solid #fff;
            font-size: 20px;
            border-radius: 16px;
        }
    }

    &--image-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        position: relative;

        &__image{
            width: 400px;
            height: 400px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50% 50% 50% 50% / 50% 80% 30% 80%;
            }
        }

        &__ratings{
            display: flex;
            position: absolute;
            bottom: -100px;
            left: calc(50% - 48px);
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 16px;
            width: fit-content;
            color: #fff;
            align-items: center;
            justify-content: center;
            border: 3px solid #fff;

            &--title{
                position: absolute;
                left: -90px;
            }
        }
    }
}